<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="reportServers" type="ReportingServicesSourceControl.ServerConfiguration, ReportingServicesSourceControl"/>
    </configSections>
  
  <appSettings>
    <add key="rootPath" value="C:\SSRSTest"/>
    <add key="sourceControlUsername" value="user"/>
    <add key="sourceControlPassword" value="pass"/>
    <add key="EmailOnError" value="true" />
    <add key="EmailServer" value="" />
    <add key="EmailFrom" value="" />
    <add key="EmailTo" value="" />
    <add key="AlertOnEmbeddedDataSource" value="false" />
  </appSettings>
  
  <reportServers>
    <servers>
      <add name="localhost" url="http://localhost/reportserver/reportservice2005.asmx" useDefaultCredentials="true" />
    </servers>
  </reportServers>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
